.message-panel {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: green;
    font-family: monospace;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.5);
    z-index: 10000;
}

.message {
    margin-bottom: 5px;
    transition: color 1s, opacity 1s;    
}

.message.fade-out {
    color: black;
    opacity: 0;
}