body  {background-color: black; color: limegreen}
table {width: 100%}
tr    {width: 100%}

#playzone {width: 80%}
#logzone  {width: 20%}

/*63.5mm X 88.9mm*/
.Card { border-width: 1px; border-color: limegreen; border-style: solid; width:127px; height: 178px }