@font-face {
  font-family: '3270';
    src: url('font/3270.eot'); /* IE9 Compat Modes */
    src: url('font/3270.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('font/3270.woff2') format('woff2'), /* Super Modern Browsers */
        url('font/3270.woff') format('woff'), /* Pretty Modern Browsers */
        url('font/3270.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('font/3270.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body  {background-color: black; color: limegreen; font-family: '3270'; white-space: pre;}
table {width: 100%;}
tr    {width: 100%;}
td    {vertical-align: top;}
i     {color: #E3DAC9}

#details  {width: 33.3%;}
#playzone {width: 33.3%;}
#logzone  {width: 33.3%;}

.item { cursor: pointer; }
.item:hover { text-decoration: underline }
.u {text-decoration: underline}
.b {font-weight: bold}

/* Old Skool colors,  */
db {color:blue}
gg {color:green}
c  {color:darkcyan}
r  {color:red}
m  {color:magenta}
b  {color:brown}
y  {color:yellow}
g  {color:grey}
dg {color:dimgray}
bb {color:CornflowerBlue}
bg {color:Chartreuse}
bc {color:Cyan}
w  {color:white}


kbd {
  border:1px solid gray;
  /* font-size:1.2em; */
  box-shadow:1px 0 1px 0 #eee, 0 2px 0 2px #ccc, 0 2px 0 3px #444;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  margin:2px 3px;
  padding:1px 5px;
}

kbd-green {
  border:1px solid #00ee00;
  /* font-size:1.2em; */
  box-shadow: 0 1px 0 1px #00cc00, 0 2px 0 2px #004400;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  margin: 1px 1px;
  padding: 1px 5px;
}